include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio 
  body
    .wrapper
      .wrapper__content 

        .two-sections
        
          //First-screen 
          section.first-screen
            .container.first-screen__container
              //Header
              header.header
                .logo
                  a(href="#").logo__link ИР
                nav.main-menu.header__menu
                  - var menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться']
                  ul.main-menu__list
                    each item, index in menu
                      li.main-menu__item(class=`${index === 1 ? 'active' : ''}`)
                        a(href="" class = "").main-menu__link.header__menu-link #{item}
                .socials
                   - var socials = ['insta', 'vk', 'github']
                   ul.socials__list
                    each item in socials
                      li.socials__item
                        a(href="#").socials__link
                          +icon(`${item}`, `socials__icon socials__icon--${item}`) 
                a.hamburger(href="#")
                  .hamburger__pic       

              // Content
              .first-screen__content
                .info
                  h1.info__title Личный сайт веб&#8209;разработчика
                  .info__name Игорь Ребрищев
              .first-screen__btn
                a(href="#").scroll-link
                  span.scroll-link__text Скролл
                  +icon(`scroll`, 'scroll-link__icon')

          //About
          section.about
            .container.about__container
              .about__left
                .avatar.about__avatar
                  +image('content/about-avatar.jpg', 'about__img')
                
                table.about__table
                  - var items = [['Проживаю:', 'Ростов-на-Дону'],['Возраст:', '40'],['Родился:', '28 июня 1979']]
                  
                  each item in items
                    tr.about__table-row
                      td.about__column.about__column--left #{item[0]}
                      td.about__column.about__column--right #{item[1]}

              .about__right
                .about__hello Привет, меня зовут
                h2.about__title.h2-title Игорь Ребрищев
                .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
        //Triangles
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")

        //values
        section.values
          .container.values__container
            .values__pic
              +image('content/values-backpack.png', 'values__img')
            .values__content
              .values__desc
                h2.values__title.h3-title Чем я могу быть полезен вам
                .values__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills-wrap
                ul.user-skills        
                  - var skills = [['Front-end', [['HTML5', '-25s'],['CSS3', '-13s'],['JavaScript', '-75s'],['JQuery', '-35s']]],['Workflow', [['Git', '-25s'],['Terminal', '-25s'],['Gulp', '-25s'],['Webpack', '-25s']]]]
                    each item in skills 
                      li.user-skills__item.skills-row 
                        h3.skills-row__title #{item[0]}
                        ul.skills-row__list
                          each skill in item[1]
                              li.skills-row__item
                                .skill
                                  svg(viewBox="0 0 154 154" preserveAspectRatio="none").skill__shape
                                    defs.defs
                                      linearGradient( x1="0%" y1="50%" x2="100%" y2="100%")#skill__gradient
                                        stop(offset="60%" stop-color="#5500f2").skill__fill--start
                                        stop(offset="100%" stop-color="#ad00ed").skill__fill--stop  
                                    circle(r="65" cx="77" cy="77").skill__circle.skill__circle--under
                                    circle(r="65" cx="77" cy="77" stroke="url(#skill__gradient)" transform="rotate(-180 77 77)" style=`animation-delay: ${skill[1]};`).skill__circle.skill__circle--above                     
                                  .skill__title #{skill[0]}

        //Works
        section.works
          .container
            h2.works__title.h2-title Мои работы
            .works__content
              .slider
                .slider__full-pic
                  +image(`content/1.jpg`, 'slider__full-img')
                .slider__preview
                  ul.slider__preview-list
                    - for (var i = 0; i < 4; i++)
                      li.slider__previews-item(class=`${i === 0 ? 'active' : ''}`)
                        a(href="#").slider__previews-link
                          +image(`content/prev-${i}.jpg`, 'slider__preview-img')
                .slider__btns
                  button.slider__btn.slider__btn--prev
                    +icon('arrow-down', 'slider__btn-icon slider__btn-icon--prev')
                  button.slider__btn.slider__btn--next
                    +icon('arrow-down', 'slider__btn-icon slider__btn-icon--next')
                .slider__number 1
              .works__desc
                .works__tags
                  - var tags = ['html', 'css', 'javascript']
                  ul.works__tags-list
                    each tag in tags
                      li.works__tags-item #{tag}
                h3.works__desc-title Сайт школы образования
                .works__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href="#").works__desc-link.link
                  +icon('link', 'link__icon')
                  span.link__text Посмотреть сайт

        .two-sections--bottom
          //Triangles
          .triangles-bottom
            svg.triangles-bottom__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(points="0,0 1000,0 500,100")
          
          //Reviews
          section.reviews
            .container
              .reviews__row
                h2.reviews__title.h2-title Что обо мне говорят
                .reviews__btns
                  button.reviews__btn
                    +icon('arrow-down', 'reviews__btn-icon reviews__btn-icon--prev') 
                  button.reviews__btn
                    +icon('arrow-down', 'reviews__btn-icon reviews__btn-icon--next')
              .reviews__items
                - var reviews = [['Ковальчук Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'dk'], ['Владимир Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'vs']]
                   ul.reviews__list
                    each item in reviews
                      li.reviews__item
                        .reviews__post
                          .reviews__post-text #{item[2]}
                          .reviews__post-user
                            .reviews__user-pic.avatar
                              +image(`content/${item[3]}.jpg`, 'reviews__user-img')
                            .reviews__user-desc
                              .reviews__user-name #{item[0]}
                              .reviews__user-occ #{item[1]}

          //Form
          section.form-section
            .container.form-section__container
              h2.form-section__title.h2-title Связаться со мной
              form.form(action="" name="form")
                .form__row
                  .form__item
                    label(for="name").form__label Введите ваше имя
                    input(type="text" id="name" name="name" placeholder="Ковальчук Дмитрий" onfocus="this.placeholder='';").form__input
                  .form__item
                    label(for="email").form__label Введите ваш email
                    input(type="email" id="email" name="email" placeholder="loftschool@study.com" onfocus="this.placeholder='';").form__input
                .form__row
                  .form__item
                   label(for="comment").form__label Сообщение к письму
                   textarea(id="comment" name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" onfocus="this.placeholder='';").form__input.form__textarea
                .form__row
                  button(type="submit").form__submit Отправить
      
      //Footer
      footer.footer
        .container.footer__container
              .footer__left                
                .footer__copy &copy; 2019
                .footer__info-left
                  .footer__name  Игорь Ребрищев
                  .footer__info-site  Личный сайт веб&#8209;разработчика
                
              .footer__right
                nav.main-menu.footer__menu
                  - var menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться']
                  ul.main-menu__list.footer__menu-list
                    each item, index in menu
                      li.main-menu__item
                        a(href="" class = "").main-menu__link.footer__menu-link #{item}
                .footer__info-wrap                
                  .footer__info-center
                    .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .socials
                    - var socials = ['insta', 'vk', 'github']
                    ul.socials__list
                      each item in socials
                        li.socials__item.footer__social-item
                          a(href="#").socials__link.footer__social-link
                            +icon(`${item}`, `socials__icon footer__social-icon socials__icon--${item}`)  
                  .footer__info-right 
                    .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__quote-author Martin Golding 

      .one
        .content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi culpa facilis deserunt commodi rerum esse impedit. Labore, atque debitis in natus deserunt similique error suscipit libero aspernatur beatae dolore. Voluptas ex libero accusantium dicta consequuntur animi? Dignissimos, accusantium totam ipsum voluptas dolorum laboriosam ullam ad itaque deserunt, obcaecati unde nostrum veritatis optio esse rerum iste in sint! Excepturi dolores sit dolorem voluptatem quia eveniet iste! Nulla, at commodi odio ut aliquid error voluptatibus assumenda qui et amet consequuntur iure quasi expedita sit delectus necessitatibus non dolorum repudiandae nihil, numquam omnis quos! Natus, aliquam deserunt consequatur quo saepe suscipit veniam. Non reprehenderit sit sapiente qui, quasi numquam voluptas, praesentium velit ducimus rem quibusdam similique voluptatum doloremque. Natus mollitia distinctio vitae, dolorem blanditiis quidem commodi harum provident officiis! Excepturi facere libero dolore nobis? Fugit repellat et molestiae, sit possimus natus earum soluta. Nesciunt suscipit, quas quibusdam fugiat laborum dicta dolorem inventore voluptas, neque adipisci, pariatur itaque! Recusandae eaque, debitis nostrum iusto qui in aut magnam amet sapiente? Animi eveniet illo doloribus itaque suscipit aut! Omnis tempore beatae ipsam? Illum fugit excepturi est, veritatis consequuntur itaque placeat atque adipisci, non dolor voluptatem harum exercitationem, nesciunt deleniti. Dolorum accusamus nemo ducimus recusandae ab nam.
        .paralax 
          +image(`content/1.jpg`, 'paralax-img')   

               

                
                  


                       
                

      
          
          
          



       
       
























      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg