include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio 
  body
    .wrapper
      .wrapper__content 

        .two-sections
        
          //First-screen 
          section.first-screen
            .container.first-screen__container
              //Header
              header.header
                .logo
                  a(href="#").logo__link ИР
                nav.main-menu.header__menu
                  - var menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться']
                  ul.main-menu__list
                    each item, index in menu
                      li.main-menu__item(class=`${index === 1 ? 'active' : ''}`)
                        a(href="" class = "").main-menu__link #{item}
                .socials
                   - var socials = ['insta', 'vk', 'github']
                   ul.socials__list
                    each item in socials
                      li.socials__item
                        a(href="#").socials__link
                          +icon(`${item}`, `socials__icon socials__icon--${item}`)        

              // Content
              .first-screen__content
                .info
                  h1.info__title Личный сайт веб&#8209;разработчика
                  .info__name Игорь Ребрищев
              .first-screen__btn
                a(href="#").scroll-link
                  span.scroll-link__text Скролл
                  +icon(`scroll`, 'scroll-link__icon')

          //About
          section.about
            .container.about__container
              .about__left
                .avatar.about__avatar
                  +image('content/about-avatar.jpg', 'about__img')
                
                table.about__table
                  - var items = [['Проживаю:', 'Ростов-на-Дону'],['Возраст:', '40'],['Родился:', '28 июня 1979']]
                  
                  each item in items
                    tr.about__table-row
                      td.about__column.about__column--left #{item[0]}
                      td.about__column.about__column--right #{item[1]}

              .about__right
                .about__hello Привет, меня зовут
                h2.about__title.h2-title Игорь Ребрищев
                .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
        //Triangles
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")

        //values
        section.values
          .container.values__container
            .values__desc
              h2.values__title.h3-title Чем я могу быть полезен вам
              .values__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills

        //Works
        section.works
          .container
            h2.works__title.h2-title Мои работы
            .works__content
              .slider
                .slider__full-pic
                  +image(`content/1.jpg`, 'slider__full-img')
                .slider__preview
                  ul.slider__preview-list
                    - for (var i = 0; i < 4; i++)
                      li.slider__previews-item(class=`${i === 0 ? 'active' : ''}`)
                        a(href="#").slider__previews-link
                          +image(`content/prev-${i}.jpg`, 'slider__preview-img')
                .slider__btns
                  button.slider__btn.slider__btn--prev
                    +icon('arrow-down', 'slider__btn-icon slider__btn-icon--prev') 
                  button.slider__btn.slider__btn--next
                    +icon('arrow-down', 'slider__btn-icon slider__btn-icon--next')
              .works__desc
                .works__tags
                  - var tags = ['html', 'css', 'javascript']
                  ul.works__tags-list
                    each tag in tags
                      li.works__tags-item #{tag}
                h3.works__desc-title Сайт школы образования
                .works__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href="#").works__desc-link.link
                  +icon('link', 'link__icon')
                  span.link__text Посмотреть сайт

        .two-sections--bottom
          //Triangles
          .triangles-bottom
            svg.triangles-bottom__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
              polygon(points="0,0 1000,0 500,100")
          
          //Reviews
          .section.reviews
            .container
              .reviews__row
                .reviews__title.h2-title Что обо мне говорят
                .reviews__btns
                  button.reviews__btn
                    +icon('arrow-down', 'reviews__btn-icon reviews__btn-icon--prev') 
                  button.reviews__btn
                    +icon('arrow-down', 'reviews__btn-icon reviews__btn-icon--next')
              .reviews__items
                - var reviews = [['Ковальчук Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'dk'], ['Владимир Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'vs']]
                   ul.reviews__list
                    each item in reviews
                      li.reviews__item
                        .reviews__post
                          .reviews__post-text #{item[2]}
                          .reviews__post-user
                            .reviews__user-pic.avatar
                              +image(`content/${item[3]}.jpg`, 'reviews__user-img')
                            .reviews__user-desc
                              .reviews__user-name #{item[0]}
                              .reviews__user-occ #{item[1]}
                       
                

      
          
          
          



       
       
























      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg